.nav-container {
    color: white;
    background-color: #343A40;
    padding-top: 25px;
    padding-bottom: 10px;
    position: fixed !important;
    align-items: center;
    top: 0px;
    z-index: 1020;
    width: 100%;
}

.header-content {
    margin-left: 2%;
    align-items: center;
}